@charset "utf-8";
/* CSS Document */




#album{margin: 0 auto; background:#e2e2e2;}
.image-slider{width:900px;height:160px; padding:0 10px 0px 10px; position: relative;}
.image-slider-back, .image-slider-forward{float: left; width: 23px;height: 98px;color: White;position: relative;top:32px;cursor: pointer;}
.image-slider-back{background-image: url(../images/arrow-left.png); background-repeat:no-repeat; background-position: left; width:50px; height:100px;}
.image-slider-back:hover{background-image: url(../images/arrow-left_hover.png); background-repeat:no-repeat; background-position: left; width:50px; height:100px;}
.image-slider-forward{background-image: url(../images/arrow-right.png); background-repeat:no-repeat; background-position: right; width:50px; height:100px;}
.image-slider-forward:hover{background-image: url(../images/arrow-right_hover.png); background-repeat:no-repeat; background-position: right; width:50px; height:100px;}
.image-slider-contents{width: 790px;height:164px; float: left;position: relative;overflow: hidden;}

.image-slider-contents .contents-wrapper{position: absolute;padding-top: 10px; left:0;}
.image-slider-contents .outer{background-color:#fff;float:left;width:126px;height:140px;margin:0px 10px;cursor:pointer; position:relative;}
.spic{width:126px;height:136px; text-align:center; color:#333; float:left;}
.image-slider-contents img{width:120px;height:120px; margin:0 auto;}
.spic a{ display:block; text-align:center; color:#555555; text-decoration:none;}

.hidden{display: none;}
.visible{display: block;}
.thumbnail-active{filter: alpha(opacity=100);opacity: 1.0;cursor: pointer;}
.thumbnail-inactive{filter: alpha(opacity=20);opacity: 0.2;cursor: pointer;}

.preview{position: absolute; width:600px;height:500px;background-color:#ccc;  padding: 2px; border: solid 5px #555555;}
.preview .img-large{width:330px;z-index: 1000; margin:0 auto;}
.preview .img-large .left{position: absolute;left: 8px;top:200px;width: 24px;height: 24px;z-index: 1000; background: url(../images/arrow-left.png) no-repeat; cursor:pointer; }
.preview .img-large .right{position: absolute;left: 558px;top:200px;z-index: 1000;width: 24px;height: 24px; background: url(../images/arrow-right.png) no-repeat; cursor:pointer;}
.preview .close{position:absolute;left:434px;top: -16px;width: 32px;height: 34px;background: url(../images/close.png);float: right;cursor: pointer;z-index: 2000;}
.preview .img-large img{width: 330px;height: 440px;}
.preview .label{ color:#fff; border-radius:0px; width:590px;line-height: 30px;float:left; position: absolute; top:445px; left:0;padding: 8px;background-color:#555555;text-align:left;font-weight:bold;font-size:13px; text-align:center;}

