@charset "utf-8";
/* CSS Document */


/*浮动样式*/
.pull-left{ float:left;}
.pull-right{ float:right;}
.clear{ clear:both;}
.padding0px{ padding:0px;}
.ml10{ margin-left:10px;}
.mlr10{ margin-left:5px; margin-right:5px;}
/*取消边框*/
#border-no{ border:0px;}


/*回顶部样式*/
a.backToTop{width:60px; height:60px; background:url(../images/top.gif) no-repeat -51px 0; text-indent:-999em}
a.backToTop:hover{background-position:-113px 0}


/*字体大小*/
.size-14{ font-size:14px;}
.size-16{ font-size:16px;}
.size-20{ font-size:20px;}
.size-24{ font-size:24px;}
.size-28{ font-size:28px;}

/*按钮样式*/
.btn-one{ border:0px; cursor:pointer; width:90px; height:30px; line-height:30px; text-align:center; background:#c3af1e; display:block; color:#fff; border-radius:20px; font-size:14px; font-family: "微软雅黑", "microsoft yahei"; }
.btn-one:hover{ border:0px; cursor:pointer; width:90px; height:30px; line-height:30px; text-align:center; background:#e6ce23; display:block; color:#fff; border-radius:20px; font-size:14px; font-family: "微软雅黑", "microsoft yahei"; }
.btn-ones{ border:0px; cursor:pointer; width:90px; height:30px; line-height:30px; text-align:center; background:#007db5; display:block; color:#fff; border-radius:20px; font-size:14px; font-family: "微软雅黑", "microsoft yahei"; }
.btn-ones:hover{ border:0px; cursor:pointer; width:90px; height:30px; line-height:30px; text-align:center; background:#28b0ed; display:block; color:#fff; border-radius:20px; font-size:14px; font-family: "微软雅黑", "microsoft yahei"; }
.btn-gray{ border:0px; cursor:pointer; width:90px; height:30px; line-height:30px; text-align:center; background:#cccccc; display:block; color:#fff; border-radius:20px; font-size:14px; font-family: "微软雅黑", "microsoft yahei"; }
.btn-gray:hover{ border:0px; cursor:pointer; width:90px; height:30px; line-height:30px; text-align:center; background:#cccccc; display:block; color:#fff; border-radius:20px; font-size:14px; font-family: "微软雅黑", "microsoft yahei"; }


.btn-two{ border:0px; cursor:pointer; width:90px; height:30px; line-height:30px; text-align:center; background:#b4b4b4; display:block; color:#fff; border-radius:20px; font-size:14px;font-family: "微软雅黑", "microsoft yahei"; }
.btn-two:hover{ border:0px; cursor:pointer; width:90px; height:30px; line-height:30px; text-align:center; background:#c7c7c7; display:block; color:#fff; border-radius:20px; font-size:14px;font-family: "微软雅黑", "microsoft yahei"; }
.btn-two-a{ border:0px; cursor:pointer; width:90px; height:30px; line-height:30px; text-align:center; background:#a9e343; display:block; color:#fff; border-radius:20px; font-size:14px;font-family: "微软雅黑", "microsoft yahei"; }
.btn-two-a:hover{ border:0px; cursor:pointer; width:90px; height:30px; line-height:30px; text-align:center; background:#b6f743; display:block; color:#fff; border-radius:20px; font-size:14px;font-family: "微软雅黑", "microsoft yahei"; }
.btn-two-b{ border:0px; cursor:pointer; width:90px; height:30px; line-height:30px; text-align:center; background:#3198ee; display:block; color:#fff; border-radius:20px; font-size:14px;font-family: "微软雅黑", "microsoft yahei"; }
.btn-two-b:hover{ border:0px; cursor:pointer; width:90px; height:30px; line-height:30px; text-align:center; background:#53b1ff; display:block; color:#fff; border-radius:20px; font-size:14px;font-family: "微软雅黑", "microsoft yahei"; }
.btn-two-c{ border:0px; cursor:pointer; width:90px; height:30px; line-height:30px; text-align:center; background:#4f4f4f; display:block; color:#fff; border-radius:20px; font-size:14px;font-family: "微软雅黑", "microsoft yahei"; }
.btn-two-c:hover{ border:0px; cursor:pointer; width:90px; height:30px; line-height:30px; text-align:center; background:#2b2b2b; display:block; color:#fff; border-radius:20px; font-size:14px;font-family: "微软雅黑", "microsoft yahei"; }




.btn-three{ border:0px; cursor:pointer; width:200px; height:35px; line-height:35px; text-align:center; background:#007db5; display:block; color:#fff; border-radius:20px; font-size:14px;font-family: "微软雅黑", "microsoft yahei"; }
.btn-three:hover{ border:0px; cursor:pointer; width:200px; height:35px; line-height:35px; text-align:center; background:#28b0ed; display:block; color:#fff; border-radius:20px; font-size:14px;font-family: "微软雅黑", "microsoft yahei"; }
.btn-four{ border:0px; cursor:pointer; width:90px; height:30px; line-height:30px; text-align:center; background:#0099ff; display:block; color:#fff; border-radius:5px; font-size:14px; font-family: "微软雅黑", "microsoft yahei"; }
.btn-four:hover{ border:0px; cursor:pointer; width:90px; height:30px; line-height:30px; text-align:center; background:#0086e0; display:block; color:#fff; border-radius:5px; font-size:14px; font-family: "微软雅黑", "microsoft yahei"; }

.btn-fours{ border:0px; cursor:pointer; width:90px; height:30px; line-height:30px; text-align:center; background:#c3af1e; display:block; color:#fff; border-radius:5px; font-size:14px; font-family: "微软雅黑", "microsoft yahei"; }
.btn-fours:hover{ border:0px; cursor:pointer; width:90px; height:30px; line-height:30px; text-align:center; background:#e6ce23; display:block; color:#fff; border-radius:5px; font-size:14px; font-family: "微软雅黑", "microsoft yahei"; }


.btn-five{ border:0px; cursor:pointer; width:150px; height:40px; line-height:40px; text-align:center; background:#007db5; display:block; color:#fff; border-radius:20px; font-size:16px; font-family: "微软雅黑", "microsoft yahei"; }
.btn-five:hover{ border:0px; cursor:pointer; width:150px; height:40px; line-height:40px; text-align:center; background:#28b0ed; display:block; color:#fff; border-radius:20px; font-size:16px; font-family: "微软雅黑", "microsoft yahei"; }

.btn-six{ border:0px; cursor:pointer; width:120px; height:36px; line-height:36px; text-align:center; background:#007db5; display:block; color:#fff; border-radius:5px; font-size:14px; font-family: "微软雅黑", "microsoft yahei"; }
.btn-six:hover{ border:0px; cursor:pointer; width:120px; height:36px; line-height:36px; text-align:center; background:#28b0ed; display:block; color:#fff; border-radius:5px; font-size:14px; font-family: "微软雅黑", "microsoft yahei"; }
.btn-seven{ border:0px; cursor:pointer; width:120px; height:36px; line-height:36px; text-align:center; background:#c3af1e; display:block; color:#fff; border-radius:5px; font-size:14px; font-family: "微软雅黑", "microsoft yahei"; }
.btn-seven:hover{ border:0px; cursor:pointer; width:120px; height:36px; line-height:36px; text-align:center; background:#e1cb2c; display:block; color:#fff; border-radius:5px; font-size:14px; font-family: "微软雅黑", "microsoft yahei"; }
.btn-eight{ border:0px; cursor:pointer; width:120px; height:36px; line-height:36px; text-align:center; background:#6D995D; display:block; color:#fff; border-radius:5px; font-size:14px; font-family: "微软雅黑", "microsoft yahei"; }
.btn-eight:hover{ border:0px; cursor:pointer; width:120px; height:36px; line-height:36px; text-align:center; background:#50823d; display:block; color:#fff; border-radius:5px; font-size:14px; font-family: "微软雅黑", "microsoft yahei"; }
.btn-nine{ border:0px; cursor:pointer; width:120px; height:36px; line-height:36px; text-align:center; background:#cccccc; display:block; color:#fff; border-radius:5px; font-size:14px; font-family: "微软雅黑", "microsoft yahei"; }
.btn-nine:hover{ border:0px; cursor:pointer; width:120px; height:36px; line-height:36px; text-align:center; background:#b7b7b7; display:block; color:#fff; border-radius:5px; font-size:14px; font-family: "微软雅黑", "microsoft yahei"; }

.btn-ten{ border:0px; cursor:pointer; width:260px; height:36px; line-height:36px; text-align:center; background:#007DB5; display:block; color:#fff; border-radius:5px; font-size:14px; font-family: "微软雅黑", "microsoft yahei"; }
.btn-ten:hover{ border:0px; cursor:pointer; width:260px; height:36px; line-height:36px; text-align:center; background:#006897; display:block; color:#fff; border-radius:5px; font-size:14px; font-family: "微软雅黑", "microsoft yahei"; }




/*输入框大小*/
.text-one{ width:220px; height:30px; line-height:30px; padding-left:5px; border:1px solid #ccc; font-family: "微软雅黑", "microsoft yahei"; background:#fff;}
.text-two{ width:120px; height:30px; line-height:30px; padding-left:5px; border:1px solid #ccc; font-family: "微软雅黑", "microsoft yahei"; background:#fff;}
.text-three{ width:250px; height:40px; line-height:40px; padding-left:5px; border:1px solid #ccc; font-family: "微软雅黑", "microsoft yahei"; background:#fff;}
.text-four{ width:253px; height:30px; line-height:30px; padding-left:5px; border:1px solid #ccc; font-family: "微软雅黑", "microsoft yahei"; background:#fff;}
.text-five{ width:220px; height:26px; line-height:26px; padding-left:5px; border:1px solid #ccc; font-family: "微软雅黑", "microsoft yahei"; background:#fff;}
.text-six{ width:135px; height:26px; line-height:26px; padding-left:5px; border:1px solid #ccc; font-family: "微软雅黑", "microsoft yahei"; background:#fff;}
.text-seven{ width:250px; height:40px; line-height:40px; padding-left:5px; border-radius:5px;font-family: "微软雅黑", "microsoft yahei"; background:#fff; border:none;}
.text-eight{width:150px; height:40px; line-height:40px; padding-left:5px; border-radius:5px;font-family: "微软雅黑", "microsoft yahei"; background:#fff; border:none;}
.text-eights{width:150px; height:40px; line-height:40px; padding-left:5px; border-radius:5px;font-family: "微软雅黑", "microsoft yahei"; background:#fff;border:1px solid #CCC;}
.text-nine{ width:250px; height:40px; line-height:40px; padding-left:5px; border-radius:5px;font-family: "微软雅黑", "microsoft yahei"; background:#fff; border:1px solid #CCC;}
.text-ten{ width:200px; height:30px; line-height:30px; padding-left:5px; border:1px solid #ccc; font-family: "微软雅黑", "microsoft yahei"; background:#fff;}
.text-eleven{ width:110px; height:30px; line-height:30px; padding-left:5px; border:1px solid #ccc; font-family: "微软雅黑", "microsoft yahei"; background:#fff;}

/*选择框大小*/
.select-one{ width:228px; height:34px; line-height:34px; padding-left:5px; border:1px solid #ccc; font-family: "微软雅黑", "microsoft yahei"; background:#fff;}
.select-two{ width:130px; height:34px; line-height:34px; padding-left:5px; border:1px solid #ccc; font-family: "微软雅黑", "microsoft yahei"; background:#fff;}

/*文本框大小*/
.textarea-one{ width:500px; height:100px; background:#fff; border:1px solid #ccc;}
.textarea-two{ width:99.4%; height:100px; background:#fff; border:1px solid #ccc;}

/*特殊字体颜色*/
.color-one{ color:#007db5;}/*紫红色*/
.color-two{ color:#FFB10B;}/*黄色*/
.color-three{ color:#f00;}/*红色*/
.color-four{ color:#FF5400;}/*橙红色*/
.color-five{ color:#FFF;}

/*隐藏/显示*/
.display-no{ display:none;}
.display-yes{ display:block;}

/*背景颜色样式*/
.bacground-gray{ background:#ccc;}

/*分页效果*/
.yellow {padding:7px; MARGIN:30px 20px 30px 20px; TEXT-ALIGN: center; font-size:14px;}
.yellow A {border: #ccc 1px solid; padding:6px 15px 6px 15px;  MARGIN: 6px;  COLOR: #000;  TEXT-DECORATION: none; border-radius:5px;}
.yellow A:hover {border: #555555 1px solid; }
.yellow A:active {border: #f0f0f0 1px solid; }
.yellow SPAN.current {border:#1f9dd4 1px solid; padding:6px 15px 6px 15px; FONT-WEIGHT: bold; MARGIN:5px 6px 6px 6px;  COLOR: #fff; BACKGROUND-COLOR:#1f9dd4; border-radius:5px;}
.yellow SPAN.disabled {border: #eee 1px solid; padding:6px 15px 6px 15px; MARGIN: 6px;  COLOR: #ddd; border-radius:5px;}


/*弹出层样式*/
.modal-header{ line-height:40px; font-size:18px; color:#852e15;}
.modal-body{ margin-top:20px; font-size:14px;}
.modal-footer{ margin-top:50px; float:right;}

/*首页幻灯片*/
.device {
  height:305px;
  position: relative;
}
.device .arrow-left {
  background: url(../images/arrows.png) no-repeat left top;
  position: absolute;
  left: 20px;
  top: 47%;
  width: 17px;
  height: 30px;
  z-index:100;
}
.device .arrow-right {
  background: url(../images/arrows.png) no-repeat left bottom;
  position: absolute;
  right: 20px;
  top: 47%;
  width: 17px;
  height: 30px;
  z-index:100;
}
.swiper-container {
  height: 305px;

}
.content-slide {
  padding: 20px;
  color: #fff;
}

.pagination {
  position: absolute;
  left: 0;
  text-align: center;
  bottom:5px;
  width: 100%;
  z-index:100;
}
.swiper-pagination-switch {
  display: inline-block;
  width: 10px;
  height: 10px;
  border-radius: 10px;
  background: #FFF;
  box-shadow: 0px 1px 2px #d5d5d5 inset;
  margin: 0 3px;
  cursor: pointer;
}
.swiper-active-switch {
  background: #01a9e8;
   box-shadow: 0px 1px 2px #555 inset;
}
