<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:aop="http://www.springframework.org/schema/aop" xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:jpa="http://www.springframework.org/schema/data/jpa"
	xmlns:task="http://www.springframework.org/schema/task"
	xsi:schemaLocation="http://www.springframework.org/schema/beans  
           http://www.springframework.org/schema/beans/spring-beans-4.0.xsd  
           http://www.springframework.org/schema/context  
           http://www.springframework.org/schema/context/spring-context-4.0.xsd  
           http://www.springframework.org/schema/aop  
           http://www.springframework.org/schema/aop/spring-aop-4.0.xsd  
           http://www.springframework.org/schema/tx   
           http://www.springframework.org/schema/tx/spring-tx-4.0.xsd
           http://www.springframework.org/schema/data/jpa
           http://www.springframework.org/schema/data/jpa/spring-jpa.xsd
           http://www.springframework.org/schema/task  
		   http://www.springframework.org/schema/task/spring-task-4.0.xsd  ">
	<!-- 用注解方式注入bean -->
	<context:annotation-config />
	<context:component-scan base-package="*" />
	<bean class="org.springframework.beans.factory.annotation.AutowiredAnnotationBeanPostProcessor"/>  
	<bean id="mappings" class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
		<property name="locations" value="classpath:im/shs/config/shs.properties"></property>
	</bean> 
	<!-- 开启事务注解驱动 -->
	<!-- <tx:annotation-driven /> -->
	<!-- 开启task任务扫描注解 -->
	<!-- <task:annotation-driven/>  -->
	<!-- 数据库连接池 -->
	<!-- <bean id="dataSource"
		class="org.springframework.jdbc.datasource.DriverManagerDataSource">
		<property name="driverClassName" value="com.mysql.jdbc.Driver" />
		<property name="url"
			value="jdbc:mysql://sqld.duapp.com:4050/LFYYsawHrRdIcWfWFzRZ?autoReconnect=true&amp;createDatabaseIfNotExist=true&amp;useUnicode=true&amp;characterEncoding=utf-8&amp;zeroDateTimeBehavior=convertToNull&amp;transformedBitIsBoolean=true" />
		<property name="username" value="IkMLolCKUujZ73wLprH8VgdC" />
		<property name="password" value="IyhvmSHa5CVQLDtpuOsc9Uymf0MpmNah" />
	</bean> -->
	<!-- <bean id="dataSource"
		class="org.springframework.jdbc.datasource.DriverManagerDataSource">
		<property name="driverClassName" value="com.mysql.jdbc.Driver" />
		ec2-50-19-213-178.compute-1.amazonaws.com
		<property name="url" 
			value="jdbc:mysql://localhost:3306/webims?createDatabaseIfNotExist=true&amp;useUnicode=true&amp;characterEncoding=utf-8&amp;zeroDateTimeBehavior=convertToNull&amp;transformedBitIsBoolean=true" />
		<property name="username" value="root" />
		<property name="password" value="root" />
	</bean> -->
	<!-- 基础DAO --> 
    <!-- <bean id="baseDao" class="im.shs.base.security.dao.impl.BaseDao"> 
        <property name="sessionFactory" ref="sessionFactory" /> 
    </bean> 
      
    继承DAO基类 parent="baseDao" 
    <bean id="resourcesDao" class="im.shs.base.security.dao.impl.ResourcesDao" parent="baseDao"></bean> 
    <bean id="rolesDao" class="im.shs.base.security.dao.impl.RolesDao" parent="baseDao"></bean> 
    <bean id="usersDao" class="im.shs.base.security.dao.impl.UsersDao" parent="baseDao"></bean>
	
	
	<bean id="dataSource" class="org.springframework.jdbc.datasource.DriverManagerDataSource">  
        <property name="driverClassName" value="${jdbc.driver}" />  
        <property name="url" value="${jdbc.url}" />  
        <property name="username" value="${jdbc.username}" />  
        <property name="password" value="${jdbc.password}" />  
    </bean> 
	hibernate sessionFactory 创建
	<bean id="sessionFactory"
		class="org.springframework.orm.hibernate4.LocalSessionFactoryBean">
		<property name="dataSource" ref="dataSource" />
		<property name="packagesToScan" value="im.shs.*" /> 
		<property name="packagesToScan">
			<list>
				<value>im.shs.model.*</value>
				<value>im.shs.base.security.po.*</value>
			</list>
		</property>
		<property name="hibernateProperties">
			<props>
				<prop key="hibernate.format_sql">true</prop>
				<prop key="hibernate.hbm2ddl.auto">update</prop>
				<prop key="hibernate.dialect">org.hibernate.dialect.MySQL5Dialect</prop>
                <prop key="hibernate.show_sql">false</prop>
				<prop key="hibernate.current_session_context_class">org.springframework.orm.hibernate4.SpringSessionContext</prop>
				<prop key="hibernate.current_session_context_class">jta</prop>
			</props>
		</property>
	</bean>

	配置mybitasSqlSessionFactoryBean
	<bean name="paginationInterceptor" class="im.shs.base.interceptor.PaginationInterceptor"></bean>
	<bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
		<property name="dataSource" ref="dataSource" />
		<property name="typeAliasesPackage" value="im.shs.bean" />
		<property name="plugins">
			<list>
				<ref bean="paginationInterceptor" />
			</list>
		</property>
		<property name="configLocation"
			value="classpath:im/shs/conf/mybatis/sql-map-config.xml"></property>
	</bean>

	配置SqlSessionTemplate
	<bean id="sqlSession" class="org.mybatis.spring.SqlSessionTemplate">
		<constructor-arg name="sqlSessionFactory" ref="sqlSessionFactory" />
	</bean>

	定义实体管理器工厂
	<bean id="entityManagerFactory"
		class="org.springframework.orm.jpa.LocalContainerEntityManagerFactoryBean">
		<property name="persistenceUnitName" value="jpaWeb" />
		<property name="dataSource" ref="dataSource" />  
    	<property name="jpaVendorAdapter" ref="hibernateJpaVendorAdapter" />  
    	<property name="jpaProperties">  
	        <props>  
	            <prop key="hibernate.format_sql">true</prop>  
	            <prop key="hibernate.connection.driver_class">${jdbc.driver}</prop>  
	            <prop key="hibernate.show_sql">true</prop>
				<prop key="hibernate.hbm2ddl.auto">update</prop>
				<prop key="transaction.auto_close_session">true</prop>
				<prop key="connection.autocommit">true</prop> 
				<prop key="hibernate.current_session_context_class">jta</prop>
	        </props>  
    	</property> 
		<property name="persistenceXmlLocation" value="classpath:META-INF/persistence.xml"></property>
	</bean>
	<bean id="hibernateJpaVendorAdapter" class="org.springframework.orm.jpa.vendor.HibernateJpaVendorAdapter">
		<property name="databasePlatform">
			<value>${jdbc.databasePlatform}</value>
		</property>
		<property name="showSql">
			<value>true</value>
		</property>
		<property name="generateDdl">
			<value>true</value>
		</property>
	</bean> 

	<bean id="transactionManager" class="org.springframework.orm.jpa.JpaTransactionManager">
		<property name="entityManagerFactory" ref="entityManagerFactory" />
	</bean>
	<aop:config proxy-target-class="true">
		<aop:pointcut id="crudMethos" expression="execution(* im.shs.*.*(..))" />

		第一个*号代表可以是任意返回类型,第二个*代表包下的所有类,第三个*代表类下的所有方法,之后的(..)代表任意的参数
		<aop:advisor advice-ref="txAdvice" pointcut-ref="crudMethos" />
	</aop:config>
	<tx:annotation-driven transaction-manager="transactionManager" />
	<tx:annotation-driven/>
	<tx:advice id="txAdvice" transaction-manager="transactionManager">
		<tx:attributes>
			<tx:method name="add*" propagation="REQUIRED" />
			<tx:method name="save*" propagation="REQUIRED" />
			<tx:method name="edit*" propagation="REQUIRED" />
			<tx:method name="delete*" propagation="REQUIRED" />
			<tx:method name="merge*" propagation="REQUIRED" />
			<tx:method name="batch*" propagation="REQUIRED" />
			<tx:method name="persist*" propagation="REQUIRED" />
			<tx:method name="remove*" propagation="REQUIRED" />
			<tx:method name="find*" propagation="REQUIRED" />
			<tx:method name="create*" propagation="REQUIRED" />
			<tx:method name="*" read-only="true" />
		</tx:attributes>
	</tx:advice>
	
	事物配置
	<bean id="transactionManagerHi"
		class="org.springframework.orm.hibernate4.HibernateTransactionManager">
		<property name="sessionFactory" ref="sessionFactory"></property>
	</bean>
	<tx:advice id="txAdviceHi" transaction-manager="transactionManagerHi">
		<tx:attributes>
			<tx:method name="get*" read-only="true" propagation="REQUIRED"/>
		    <tx:method name="find*" read-only="true" propagation="REQUIRED"/>
		    <tx:method name="update*" propagation="REQUIRED"/>
		    <tx:method name="remove*" propagation="REQUIRED"/>
		    <tx:method name="add*" propagation="REQUIRED"/>
		    <tx:method name="*"/>
		</tx:attributes>
	</tx:advice>
	<aop:config>
		<aop:pointcut expression="execution(public * im.shs.service..*.*(..))"
			id="myPointcut" />
		<aop:advisor advice-ref="txAdviceHi" pointcut-ref="myPointcut" />
	</aop:config>

	配置Spring Data JPA扫描目录
	<jpa:repositories base-package="im.shs" />
	Spring Data Jpa配置
	<jpa:repositories base-package="im.shs.model" transaction-manager-ref="transactionManagerJpa" 
		entity-manager-factory-ref="entityManagerFactory" /> -->
</beans>