<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" 
	xmlns="http://java.sun.com/xml/ns/javaee" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
	http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
  	<display-name>SHS SYSTEM 1.0</display-name>	
  	
  	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>classpath*:im/shs/config/spring/applicationContext-*.xml</param-value>
	</context-param>
	<listener>
		<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	</listener>
	
	<!-- 过滤器: 拒绝访问过滤器 -->
	<filter>
		<filter-name>accessDeniedFilter</filter-name>
		<filter-class>im.shs.web.filter.AccessDeniedFilter</filter-class>
	</filter>
	<!-- URL过滤模式 -->
	<filter-mapping>
		<filter-name>accessDeniedFilter</filter-name>
		<url-pattern>*.properties</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>accessDeniedFilter</filter-name>
		<url-pattern>*.conf</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>accessDeniedFilter</filter-name>
		<url-pattern>/logs/*</url-pattern>
	</filter-mapping>

	<!-- 过滤器: 地区缓存过滤器/页面缓存过滤器 -->
	<filter>
		<filter-name>areaCacheFilter</filter-name>
		<filter-class>net.sf.ehcache.constructs.web.filter.SimplePageCachingFilter</filter-class>
		<!-- 地区缓存 -->
		<init-param>
			<param-name>cacheName</param-name>
			<param-value>area</param-value>
		</init-param>
	</filter>
	<!-- URL过滤模式 -->
	<filter-mapping>
		<filter-name>areaCacheFilter</filter-name>
		<url-pattern>/area</url-pattern>
	</filter-mapping>

	<!-- 过滤器: 文章缓存过滤器/页面缓存过滤器 -->
	<filter>
		<filter-name>articleCacheFilter</filter-name>
		<filter-class>net.sf.ehcache.constructs.web.filter.SimplePageCachingFilter</filter-class>
		<!-- 文章缓存 -->
		<init-param>
			<param-name>cacheName</param-name>
			<param-value>article</param-value>
		</init-param>
	</filter>
	<!-- URL过滤模式 -->
	<filter-mapping>
		<filter-name>articleCacheFilter</filter-name>
		<url-pattern>/article/*</url-pattern>
	</filter-mapping>
    
	<servlet>  
		<servlet-name>SpringMVC</servlet-name>  
		<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>  
		<init-param>  
	        <param-name>contextConfigLocation</param-name>  
	        <param-value>classpath:im/shs/config/spring/applicationContext-mvc.xml</param-value>  
    	</init-param> 
		<load-on-startup>2</load-on-startup>  
	</servlet>  
	<servlet-mapping>  
		<servlet-name>SpringMVC</servlet-name>  
		<url-pattern>/</url-pattern>  
	</servlet-mapping> 
	
	<!-- 过滤器: Apache Shiro过滤器 -->
	<filter>
		<filter-name>shiroFilter</filter-name>
		<filter-class>org.springframework.web.filter.DelegatingFilterProxy</filter-class>
	</filter>
	<!-- URL过滤模式 -->
	<filter-mapping>
		<filter-name>shiroFilter</filter-name>
		<url-pattern>/admin/*</url-pattern>
	</filter-mapping>

	<!-- 过滤器: 站点状态滤器/授权过滤器 -->
	<filter>
		<filter-name>siteStatusFilter</filter-name>
		<filter-class>org.springframework.web.filter.DelegatingFilterProxy</filter-class>
	</filter>
	<!-- URL过滤模式 -->
	<filter-mapping>
		<filter-name>siteStatusFilter</filter-name>
		<servlet-name>SpringMVC</servlet-name>
	</filter-mapping>

	<!-- 过滤器: 编码过滤器/字符集过滤器 -->
	<filter>
		<filter-name>encodingFilter</filter-name>
		<filter-class>org.springframework.web.filter.CharacterEncodingFilter</filter-class>
		<!-- 编码 -->
		<init-param>
			<param-name>encoding</param-name>
			<param-value>UTF-8</param-value>
		</init-param>
		<!-- 强制编码 -->
		<init-param>
			<param-name>forceEncoding</param-name>
			<param-value>true</param-value>
		</init-param>
	</filter>
	<!-- URL过滤模式 -->
	<filter-mapping>
		<filter-name>encodingFilter</filter-name>
		<servlet-name>SpringMVC</servlet-name>
	</filter-mapping> 
	
	<!-- 过滤器: 压缩（GZIP等）过滤器 -->
	<filter>
		<filter-name>compressingFilter</filter-name>
		<filter-class>com.planetj.servlet.filter.compression.CompressingFilter</filter-class>
	</filter>
	<!-- URL过滤模式 -->
	<filter-mapping>
		<filter-name>compressingFilter</filter-name>
		<url-pattern>*.css</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>compressingFilter</filter-name>
		<url-pattern>*.js</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>compressingFilter</filter-name>
		<url-pattern>*.html</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>compressingFilter</filter-name>
		<servlet-name>SpringMVC</servlet-name>
	</filter-mapping>

	<!-- 监听器: 上下文加载监听器 -->
	<!-- *** WEB应用启动时实例化Spring容器 *** -->
	<listener>
		<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	</listener>

	<!-- 监听器: 内存清理监听器 -->
	<!-- *** WEB应用关闭时清理Java内存 *** -->
	<listener>
		<listener-class>org.springframework.web.util.IntrospectorCleanupListener</listener-class>
	</listener>

	<!-- Session配置 -->
	<!-- *** 有效时间30分钟 *** -->
	<session-config>
		<session-timeout>30</session-timeout>
	</session-config>

	<!-- 默认访问页 -->
	<welcome-file-list>
		<welcome-file>/</welcome-file>
	</welcome-file-list>
    
</web-app>
