<div id="{crossAuditDiv}">
	<div id="{crossAuditContentDiv}">
		<table class="DisplayTable">
			<tr>
				<td  class = "right">审批用户名:</td>
				<td><input name="loginId" type='text' id="{loginId}"
					class='required' title="审批用户名" /><span class="inputSelect">*</span></td>
			</tr>
			<tr>
				<td  class = "right">审批用户密码:</td>
				<td><input name="password" type="password" id="{password}"
					class='required' title="审批用户密码" /><span class="inputSelect">*</span></td>
			</tr>
		</table>
	</div>
</div>