<div id="{MessageApplyPanel}">
	<div id="{MessageApplyCondition}">
		<table class="DisplayTable">
			<tr>
				<td align="right">
					短信申请开始时间:
				</td>
				<td class="empt">
					<input type="text" name="beginDate"
						id="{beginDate}" readonly="readonly" />
				</td>
				<td align="right">
					短信申请结束时间:
				</td>
				<td class="empt">
					<input type="text" name="endDate"
						id="{endDate}" readonly="readonly" />
				</td>
			</tr>
			<tr>
				<td align="right">
					短信申请状态:
				</td>
				<td class="empt">
					<input type="text" name="applyState"
						id="{applyState}"/>
				</td>
				<td>
				</td>
				<td>
				</td>
			</tr>
		</table>
	</div>
</div>
<div id="{MessageApplyListPanel}">
</div>